
    @import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@700&family=Poppins&display=swap');
    
    *{
        font-family: 'Poppins', sans-serif;
    }
    .main-wrapper{
        background-color: white;
        display: flex;
        justify-content: center;
        flex-direction: column;
        box-shadow: 0 1px 11px 0 rgb(181, 181, 181);
        overflow: auto;
    }
    .container{
        margin-top: 20px !important ;
        width: fit-content;
    }
    .main-wrapper textarea {
        border: none !important;
        overflow: auto !important;
        outline: none;
        padding: 14px !important;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;

    }
    .btn-primary{
        background-color: #3b8ffc;
        border: 1px solid #3b8ffc;
    }
    .btn-primary:hover{
        background-color: #4294ff;
        border: 1px solid #4294ff;
    }
    a{
        color: white;
        text-decoration: none;
    }
    a:hover{
        color: white;
        text-decoration: none;
    }
    .header-tab{
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .menu-tab,.counter-tab{
        margin-top: 10px;
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .menu-tab button{
        margin-right: 7px;
        margin-bottom: 200px;
    }
    .opt-div{
        margin-top: 10px;
    }
    .opt-div i{
        cursor: pointer;
    }
    .count-div{
        border: 1px solid #e9f2ff;
        border-radius: 6px;
        background-color: #e9f2ff;
        color: black;
        padding: 8px;
        margin-right: 6px;
    }

    .links{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .links a{
        text-decoration: underline;
        color: black;
        margin-right: 16px;
        font-size: 11px;
    }

    @media (max-width:700px){
        .links {
            display: none;
        }
        body{
            margin-top: 9px;
        }
    }

    .navbar-links {
        height: 80%;
        margin-left: 20vw;
        width: min-content;
    }

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    white-space: nowrap;
    display: inline;
    text-decoration: none;
    color: black;
    padding: 1rem;
}



.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
        margin-left: 0px;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links li:hover {
    background-color: rgb(207, 206, 206);
}
    .navbar-links.active {
        display: flex;
    }
}

.td-tagline-text{
    letter-spacing: 1.8px;
    font-size: 12px;
    font-family: serif;
    color: #777;
    padding-top: 2px;
    padding-bottom: 10px;
    margin-top: 1px !important;
}

